.card {
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
	border-radius: 10px;
	border-bottom: 3px solid rgba(68, 68, 68, 0.5);
	background-color: rgba(0, 0, 0, 0.2);
	color: #dbdfea;
	padding: 30px 15px 30px;
	margin: 15px 30px;
	width: 250px;
	max-width: 100%;
	text-align: center;
	animation: show 1s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.card:hover {
	box-shadow: 0 0 20px #000;
	transform: scale(1.05);
	border-bottom: 3px solid rgba(255, 255, 255, 0.64);
}

.card .card__image {
	border: 1px solid #dbdfea;
	border-radius: 50%;
	padding: 7px;
}

.card__buttons button {
	border: 1px solid #dbdfea;
	border-radius: 3px;
	padding: 1em 1.5em;
	background-color: transparent;
	color: #c2c2c2;
	transition: all 0.3s ease-in-out;
}

.card__buttons button:hover {
	transform: scale(1.05);
	background-color: rgba(38, 37, 37, 0.3);
}

.card__buttons button:disabled {
	opacity: 0.5;
	border: none;
}

.card__buttons button:disabled:hover {
	transform: none;
	cursor: not-allowed;
	border-color: transparent;
}

.card__amount {
	display: flex;
	width: 70%;
	margin: 0 auto 1em;
	justify-content: center;
	align-items: center;
}

.card__amount button {
	padding: 0.5em;
	border: none;
	font-size: 1.2rem;
}

.card__amount button:hover {
	transform: scale(1.5);
}

.card__amount input {
	color: #dbdfea;
	outline: transparent;
	background-color: transparent;
	border: none;
	border-radius: 10px;
	transition: all 0.5s ease-in-out;
	margin: 0 1em;
	padding: 0.5rem;
	text-align: center;
	width: 50%;
}

.card__amount input:focus,
.card__amount input:hover {
	outline: 1px solid rgba(219, 223, 234, 0.5);
}

@keyframes show {
	0% {
		opacity: 0;
		transform: scale(0.95);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
