.search {
	display: flex;
	flex-flow: row nowrap;
}
.searchButton {
	border: none;
	background-color: transparent;
}

.searchInput {
	color: #dbdfea;
	background-color: rgba(219, 223, 234, 0.1);
	border: none;
	border-radius: 10px;
	font-size: 1rem;
	padding: 0 1rem;
	margin-right: 0.4rem;
	transform: scale(0);
	transition: all 0.5s ease-in-out;
}

.searchInput::placeholder {
	opacity: 1;
}

.searchInput:focus,
.searchInput:hover {
	outline: 1.8px solid rgba(219, 223, 234, 0.5);
}

.visible {
	transform: scale(1);
}
