.navbar__wrapper {
	color: #dbdfea;
	height: 10vh;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 20px;
	background: rgba(255, 255, 255, 0);
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
	box-shadow: 0 0 20px #000;
}

.navbar__buttons,
.navbar__links {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 0px 20px;
	list-style: none;
}

.navbar__links {
	width: 100%;
	justify-content: flex-end;
	font-size: 1.2em;
}

.navbar__links li {
	margin-left: 10em;
	transition: all 0.3s ease-in-out;
}

li {
	text-decoration: none;
	margin-left: 1rem;
	cursor: pointer;
}

.navbar__buttonsItem:hover svg,
.navbar__buttonsItem:hover img,
.navbar__links li:hover {
	animation: vibration-scale 0.5s;
	cursor: pointer;
}

@keyframes vibration-scale {
	0% {
		transform: scale(1) rotate(0deg);
	}

	25% {
		transform: rotate(10deg);
	}

	50% {
		transform: scale(1.2) rotate(0deg);
	}

	75% {
		transform: rotate(-10deg);
	}

	100% {
		transform: scale(1) rotate(0deg);
	}
}
