.navbar__wrapper {
	position: sticky;
	height: 10vh;
	display: flex;
	flex-flow: row nowrap;
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
	box-shadow: 0 0 20px #000;
	align-items: center;
}

.leftSide {
	flex: 1;
	align-items: center;
	margin-left: 2em;
}

.leftSide img {
	height: 1.5em;
	opacity: 0.5;
}

.centerSide {
	flex: 1;
	margin: 0 2em;
}

.rightSide {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: flex-end;
}

.rightSide img {
	height: 2em;
	margin-right: 2em;
	opacity: 0.5;
}

.searchInput {
	width: 100%;
	color: #dbdfea;
	background-color: transparent;
	border: none;
	border-radius: 10px;
	font-size: 1.2rem;
	transition: all 0.5s ease-in-out;
	margin: 0 auto;
	padding: 0.5rem;
}

.searchInput:focus,
.searchInput:hover {
	outline: 1px solid rgba(219, 223, 234, 0.5);
}

.navbar__buttonsItem:hover svg,
.navbar__buttonsItem:hover img {
	animation: vibration-scale 0.5s;
	cursor: pointer;
}

@keyframes vibration-scale {
	0% {
		transform: scale(1) rotate(0deg);
	}

	25% {
		transform: rotate(10deg);
	}

	50% {
		transform: scale(1.2) rotate(0deg);
	}

	75% {
		transform: rotate(-10deg);
	}

	100% {
		transform: scale(1) rotate(0deg);
	}
}
