.navbar__wrapper {
	height: 10vh;
	display: flex;
	flex-flow: row nowrap;
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
	box-shadow: 0 0 20px #000;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.2);
	max-width: 100%;
	padding: 0 1em;
	position: sticky;
	top: 0;
	z-index: 9999;
}

.leftSide {
	flex: 2;
	align-items: center;
}

.leftSide img {
	height: 1.5em;
	opacity: 0.5;
}

.centerSide {
	display: flex;
	flex: 6;
	justify-content: center;
	
}

.rightSide {
	display: flex;
	flex: 4;
	align-items: center;
	justify-content: flex-end;
}

.rightSide img {
	height: 2em;
	opacity: 0.5;
}

.rightSide img:first-of-type {
	margin-right: 1em;
}

.searchInput {
	color: #dbdfea;
	outline: transparent;
	background-color: transparent;
	border: none;
	border-radius: 10px;
	font-size: 1.2rem;
	transition: all 0.5s ease-in-out;
	margin: 0 auto;
	padding: 0.5rem;
}

.searchInput:focus,
.searchInput:hover {
	outline: 1px solid rgba(219, 223, 234, 0.5);
}

.menu__icon:hover,
.cart__icon:hover,
.user__icon:hover {
	animation: vibration-scale 0.5s;
	cursor: pointer;
}

@keyframes vibration-scale {
	0% {
		transform: scale(1) rotate(0deg);
	}

	25% {
		transform: rotate(10deg);
	}

	50% {
		transform: scale(1.2) rotate(0deg);
	}

	75% {
		transform: rotate(-10deg);
	}

	100% {
		transform: scale(1) rotate(0deg);
	}
}
