.slider__wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	animation: show 1s ease-in-out;
	transition: all 1s ease;
}

.slider {
	position: relative;
	display: flex;
	width: 80%;
	max-width: 1200px;
	max-height: 400px;
	margin: 1vh auto;
	overflow: hidden;
}

.slider_hidden {
	animation: hide 1s linear forwards;
}

.slider button {
	background-color: transparent;
	position: absolute;
	height: 100%;
	width: 50%;
	display: flex;
	z-index: 10;
	top: 0;
	outline: none;
	border: none;
}

.slider__buttonRight {
	right: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.slider__buttonLeft {
	left: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	transform: rotate(180deg);
}

.slider__line {
	display: flex;
	transition: all 1s ease;
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
}

.slider__line img {
	height: auto;
}

@keyframes hide {
	0% {
		height: 40vh;
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		height: 0;
		transform: scale(0);
	}
}

@keyframes show {
	0% {
		opacity: 0;
		transform: scale(0.95);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
